// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'variables.scss';

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
    grid-gap: 1rem;
    grid-auto-flow: dense;
}

.gallery-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

@media only screen and (min-width: 800px) {
    .gallery > .gallery-item:nth-child(4n) {
        grid-column: span 2;
        grid-row: span 2;
    }
}

@media only screen and (min-width: 1024px) {
    .gallery > .gallery-item:nth-child(8n) {
        grid-column: span 3;
        grid-row: span 3;
    }
}

.upload-link {
    background-color: $go-color;
}

.caption {
    background: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;

    & > a {
        font-weight: 700;
        display: block;
        text-decoration: none;
        color: white;
        padding: 10px;
    }
}

.gallery-item:hover .caption {
    visibility: visible;  
    opacity: 1;
}