<div class='gallery'>
    <div class="gallery-item upload-link">
        <div><%= link_to "Upload a new image", new_image_path %></div>
    </div>
    <% @images.each do |image| %>
        <% if image.imageFile.attached? %>
        
        <div class="gallery-item" 
             style="background-image: url('<%=url_for(image.imageFile.variant(resize_to_limit: [1000, 1000]))%>');"
             onclick="location.href='<%= url_for(image.imageFile) %>'">
                <div class="caption"><%= link_to image.title, url_for(image.imageFile) %></div>
        </div>
        
        <% end %>
    <% end %>
</div>