<h1>Uploaded images</h1>

<p><%= link_to "Add a new image", new_image_path %></p>

<div class='gallery'>
    <% @images.each do |image| %>
        <% if image.imageFile.attached? %>
        
        <div class="gallery-item" style="background-image: url(<%= url_for(image.imageFile)%>);">
            <div><%= link_to image.title, url_for(image.imageFile) %></div>
        </div>
        
        <% end %>
    <% end %>
</div>